extends layout

block content
  .container
    .col-2of5.bg-white.profile
      img.avatar(src=user.avatarUrl alt="avatar")
      h3=user.name
      h5=`@${user.username}`
      h4
        i.fas.fa-map-marker-alt
        |  #{user.location}
      p.center
        |  #{user.bio}
    include tweet





